* {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;

}

body{
      padding:20px;
      padding-top: 0;
  }


.dashboard {
    display: flex;
    /* gap: 20px; */
}
.content-info{
    display: flex;
    background: rgb(235, 235, 235);
    flex: 1;
    border-radius: 10px;
    padding: 1.5rem;
    gap: 2rem;
    justify-content: space-between;
}

.logout-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 20px;
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logout-button:hover {
  background-color: #ff1f1f;
}