/* background */
.forget-background {
    background-color: #f9dce8; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

/* framework */
.forget-container {
    background-color: white;
    padding: 70px;
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 400px; 
    text-align: center; 
}

/* title */
.forget-container h2 {
    font-size: 40px;
    color: #fc7bb1;
    margin-top: -20px; 
    margin-bottom: 20px; 
}
  
/* input box and label styles */
.forget-input-container {
    margin-bottom: 15px;
    text-align: left;
}
.forget-input-container label {
    display: block; 
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fc7bb1;
}
.forget-input-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ffaee8;
    border-radius: 5px;
    box-sizing: border-box; 
    background-color: #fff4fd;
    color: #d65fbc; 
    border-radius: 20px;
}
/* autofill style */
.forget-input:-webkit-autofill {
    background-color: #fff4fd !important;
    -webkit-box-shadow: 0 0 0 1000px #fff4fd inset !important;
    color: #d65fbc !important;
    -webkit-text-fill-color: #d65fbc !important;
}
  
/* error message */
.forget-error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    display: block;
}
  
/* login button */
.forget-reset-button {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    background-color: #fc7bb1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
}
.forget-reset-button:hover {
    background-color: #db6a99;
}

/* Password toggle button */
.input-with-toggle {
    display: flex;
    align-items: center;
  }
.password-toggle-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
.password-toggle-icon {
    width: 20px; 
    height: auto; 
    object-fit: contain; 
}

/* Message */
.forget-message-container {
    text-align: center;   
    padding: 10px;       
    margin-top: 20px;   
    margin-bottom: -20px;   
    border-radius: 5px;   
    font-size: 14px;     
}
.forget-message-container.error {
    background-color: #f8d7da; 
    color: red; 
    padding: 10px; 
    margin-top: 20px; 
    border-radius: 5px; 
    text-align: center; 
}
.forget-message-container.success {
    background-color: #d4edda; 
    color: #155724; 
    padding: 10px; 
    margin-top: 20px; 
    border-radius: 5px; 
    text-align: center; 
}