.bgBorder {
    width: 100%;
    max-width: 1200px; 
    padding: 0 5%;            
    display: flex;
    background-color: #fad1d1;
    border: 5px dashed #000; 
    padding: 20px; 
    box-sizing: border-box; 
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
}

.fontSizeDropdown {
    position: absolute;
    top: 0; 
    right: 0;
    margin-top: 0;
    background: white;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 10;
}

.eventinfoBox {
    border: 3px solid #C88686FF;  
    padding: 20px;  
    margin: 20px 0;  
    text-align: center;  
    background-color: #fad1d1; 
    font-size: 40px; 
    font-weight: bold;  
    display: flex;
    position: relative;
    flex-direction: column;
}

.eventTitleBox {
    border: 3px solid #C88686FF;  
    padding: 20px;  
    margin: 20px 0;  
    text-align: center;  
    background-color: #fad1d1; 
    font-size: 40px; 
    font-weight: bold;  
    cursor: pointer;
    transition: box-shadow 0.9s ease-in-out;
    position: relative;
}

.eventTitleBox:hover {
    transform: scale(1.05);
    background-color: yellow;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.eventDateBox {
    border: 3px solid #C88686FF;  
    padding: 10px;  
    text-align: center; 
    background-color: #fad1d1;  
    font-size: 20px; 
    cursor: pointer;
    transition: box-shadow 0.9s ease-in-out;
    transition: background-color 0.3s;
    position: relative;
}

.eventDateBox:hover {
    transform: scale(1.05);
    background-color: yellow;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.eventLocationBox {
    border: 3px solid #C88686FF; 
    padding: 10px; 
    text-align: center; 
    background-color: #fad1d1; 
    font-size: 20px; 
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
    position: relative;
}

.eventLocationBox:hover {
    transform: scale(1.05);
    background-color: yellow;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.descriptionBox {
    border: 2px solid #C88686FF; 
    padding: 10px;  
    background-color: #fad1d1; 
    font-size: 20px; 
}

.fixedButton{
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 50px;
}
.infoTitle{
    text-align: center;
    margin-top: 30px;
    font-size: 28px;
    font-weight: 600;
}
.previewHome {
    background-color: #f7ecec; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

@media (max-width: 768px) {
    .pageHome {
        width: 95%; 
        padding: 0 10%; 
    }
}

.mt50{
    margin-top: 30PX;
}
.title{
    font-size: 2.8rem;
    text-align: center;
    margin-top: 30px;
    color: rgb(54, 53, 53);
}
.flexBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.flexCenterBox{
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttonSubmit{
    all: unset;
    width: 330px !important;
    font-size: 18px !important;
    background:#C88686FF !important;
    border: 1px solid #C88686FF !important;
    border-radius: 40px !important;
    color: white !important;
    /* padding: 14px 70px; */
    height: 40px;
    line-height: 40px;
    white-space: normal;
    box-shadow: 0px 0px 0px 0px #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}
.buttonSubmit:hover{
    cursor: pointer;
}
.borderBottom{
    width: 100%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.603);
    padding-bottom: 30px;
}
.videoBox{
    width: 1200px;
    margin: 0 auto;
    height: 500px;
}