/* UploadContent.css */

.upload-form {
    min-width: 600px;
    width: 50%;
    margin: 0 auto;
    padding: 3rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.upload-form h2 {
  margin-bottom: 2rem;
  color: #333;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #9abace;
}

.upload-form label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
}

.upload-form input[type="text"],
.upload-form input[type="date"],
.upload-form input[type="time"],
.upload-form textarea,
.upload-form input[type="file"] {
    width: 88%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

.upload-form textarea {
    resize: vertical;
    height: 400px;
}

.upload-form input[type="file"] {
    padding: 0;
}

.upload-form button {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #3da642;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-form button:hover {
    background-color: #72c276;
}

.upload-form button[type="preview"] {
    background-color: #5084e5;
}

.upload-form button[type="preview"]:hover {
    background-color: rgb(82, 166, 205);
}

.upload-form input:focus,
.upload-form textarea:focus {
    outline: none;
    border-color: #9abace;
    box-shadow: 0 0 5px #658294;
}

.upload-form input[type="file"]::file-selector-button {
    padding: 8px;
    font-size: 14px;
    background-color: #9abace;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.upload-form input[type="file"]::file-selector-button:hover {
    background-color: #658294;
}
  