
.pageHome{
    width: 1200px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color : #F6DADA;
  padding-bottom: 30px;

}
.mt50{
    margin-top: 50PX;
}
.title{
    font-size: 2.8rem;
    text-align: center;
    margin-top: 30px;
    color: rgb(54, 53, 53);
}
.flexBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.flexCenterBox{
    width: 100%;
    display: flex;
    justify-content: center;
}
.leftText{
    width: 50%;
    font-size: 18px;
}
.rightImg{
    width: 500px;
    height: 300px;
}
.buttonSubmit{
    width: 200px;
    background-color:#C88686FF;
    border: 1px solid #C88686FF;
    border-radius: 40px;
    color: white;
    padding: 14px 70px;
    white-space: normal;
    box-shadow: 0px 0px 0px 0px #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}
.buttonSubmit:hover{
    cursor: pointer;
}
.borderBottom{
    width: 100%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.603);
    padding-bottom: 30px;
}
.videoBox{
    width: 600px;
    height: 400px;
}